@font-face {
    font-family: "AaDonuts (Non-Commercial Use)";
    src: url("CandyC.eot"); /* IE9 */
    src: url("CandyC.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("CandyC.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("CandyC.woff") format("woff"), /* chrome, firefox */
    url("CandyC.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("CandyC.svg#AaDonuts (Non-Commercial Use)") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


